/* =================
  WRITE YOUR CSS HERE.
  Check the ⌄ for help with formatting and validating your code.
  You must write some CSS to complete this challenge.
   ===================
*/
html,
body {
  margin: 0;
  height: 100%;
}
html,
body {
  margin:15;
  height: auto;
  box-sizing:smooth;
}
.navbar{
  overflow:hidden;
  background-color:#333;
  font-family:Arial;
}
.navbar a{
  float:right;
  font-size:16px;
  color:white;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  margin:15px;
  
}
.dropdown{
  margin:15px;
  float:right;
  overflow:hidden;
  
}
.dropdown .dropbtn{
  font-size:16px;
  border:none;
  outline:none;
  color:white;
  padding:14px 16px;
  background-color:inherit;
  font-family:inherit;
  margin:0;
}
.navbar a:hover, .dropdown:hover .dropbtn{
  background-color:red;
  border-radius:5px;
}
.dropdown-content a{
  float:none;
  color:black;
  padding:12px 16px;
  text-decoration:none;
  display:block;
  text-align:left;
  
}
.dropdown-content a:hover{
  background-color:#ddd;
  
}
.dropdown:hover .dropdown-content{
  display:block;
}
.logo{
  width:60px;
  cursor:pointer;
  opacity:0.9;
  margin:12px;
}
.c-site-header{
  width:100%;
  height:auto;
  background:#edf2fc;
  font-family:'poppins', sans-serif;
  position:relative;
  
}.btn{
  background:red;
  border-radius:5px;
  padding:10px 18px;
  text-decoration:none;
  color:#fff;
  display:inline-block;
  transition:all 0.4s ease;
  
}
.btn:hover{
  color:black;
  border:1px solid #ff4321;
  
}
.info h1{
  font-size:40px;
  color:#444242;
}
.info h1 span{
  color:#ff4321
}
.info p{
  color:#606163;
  line-height:22px;
  margin-top:10px;
  margin-bottom:30px;
  
}
.img-box{
  width:45%;
  height:80%;
  position:absolute;
  bottom:0px;
  right:100px;
}
.img-box img{
  height:100%;
  position:absolute;
  left:30%;
  bottom:0;
  transform: translatex(-20%);
  transition:bottom 1s, left 1s;
  
}
.img-box:hover .man-img{
  left:24%;
  transition:1s;
}
.social{
  margin-left:8%;
  margin-top:25px;
}
.social a{
  font-size:25px;
  color:#606163;
  margin-right:20px;
}
.social a:hover{
  color:#ff4321;
}
iframe{
  width:500px;
  height:400px;
  border:none;
  margin:40px 600px;
}


body {
    background: dodgerblue linear-gradient(45deg, aqua, dodgerblue, deeppink) fixed;

}
#comment-box, #post {
    border: none;
    border-radius: 5px;
}
#post:hover{
    background-color: deeppink;
}
/* don't edit this */
.jest-lite-report__status--pass {
  background: var(--color-pass);
}
.jest-lite-report__errors { display:none }
